.footer-right {
  position: fixed;
  right: 20px;
  bottom: 80px; /* Aligner avec le bouton IA */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1001; /* Assurer que le menu passe au-dessus */
}

.sidebar-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.sidebar-icon .userprofile {
  border-radius: 50%;
  border: #fff 2px solid;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
}

.sidebar-icon .useradd {
  border-radius: 50%;
  background-color: #fff;
  width: 15px;
  height: 15px;
  margin-top: -10px;
}

.record {
  animation: spinTheRecord infinite 5s linear;
  filter: invert(1);
}

.record img {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50px;
  background-color: #b3afaf;
}

@keyframes spinTheRecord {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}